<div class="nav-links">
	<div class="header-w3l">
        <div class="container" style="margin-left: 0px; max-width: 100% !important">
			<table width="100%">
				<tr>
					<td>
						<a href="#" style="text-decoration: none!important"><h1><span>Online</span> Banking</h1></a>
					</td>
					<td width="20%">
						<div class="call-w3l" onclick="window.open('https://wa.me/50372761438?text=Estoy%20interesado%20en%20tramitar%20un%20prestamo%20bancario', ' _blank'); return" style="width: auto!important">
							<a href="#" >
								<img width="50" src="images/call.png">
							</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div id="dMenu">
		<partial name="_Menu" />
	</div>
	<div class="clearfix"></div>
</div>