@page
@model IndexModel
@{
}
<div class="banner-slider">
	<div class="container">
		<div class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="w3l_banner_info">
						<h3>Bienvenido a tu banca en línea</h3>
						<p>Invierta en: caña de azúcar, siembra de granos básicos, cultivo de hortalizas y frutales, proyectos de semilla mejorada y certificada, ganado, acuicultura, inmuebles productivos, maquinaria y equipo.</p>
						<div class="agileits_w3layouts_more menu__item" style="background: #d9272e!important">
							<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Conoce Más</a>
						</div>
					</div>
				</li>
				<li>
					<div class="w3l_banner_info">
						<h3>
							Contact Center
						</h3>
						<div style="padding-left:3rem">
							Teléfono:22222222
						<br/>
							Atención disponible: 24/7
						<br />
							Correo Electrónico: xxx@onlinebanca.com.sv
						<br />
							Canales digitales Atención disponible de
						<br />
							lunes a viernes de 9:00 a.m. a 6:00 p.m..
						<br />
						</div>
						<div class="agileits_w3layouts_more menu__item" style="background: #d9272e!important">
							<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Conoce Más</a>
						</div>
					</div>
				</li>
				<li>
					<div class="w3l_banner_info">
						<h3>Crédito Rotativo</h3>
						<p>Línea de Crédito Rotativa, de fácil utilización a través de atención al cliente..</p>
						<div class="agileits_w3layouts_more menu__item" style="background: #d9272e!important">
							<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Conoce Más</a>
						</div>
					</div>
				</li>
				<li>
					<div class="w3l_banner_info">
						<h3>Banca Personas</h3>
						<p>Línea de Crédito Rotativa para gastos personales, de fácil utilización a través de atención al cliente..</p>
						<div class="agileits_w3layouts_more menu__item" style="background: #d9272e!important">
							<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Conoce Más</a>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</div>

